In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,AARTIIND27JAN221000CE.NFO,03/01/2022,09:15:59,38.00,40.05,37.00,37.00,5100,212500
1,AARTIIND27JAN221000CE.NFO,03/01/2022,09:16:59,42.00,42.00,38.05,38.05,3400,212500
2,AARTIIND27JAN221000CE.NFO,03/01/2022,09:17:59,38.05,40.85,38.05,39.30,5100,211650
3,AARTIIND27JAN221000CE.NFO,03/01/2022,09:18:59,41.45,42.50,39.30,42.50,18700,211650
4,AARTIIND27JAN221000CE.NFO,03/01/2022,09:19:59,42.75,43.00,42.75,43.00,6800,211650
...,...,...,...,...,...,...,...,...,...
698088,ZEEL-II.NFO,03/01/2022,15:27:59,325.80,325.80,325.70,325.70,3000,915000
698089,ZEEL-II.NFO,03/01/2022,15:29:59,325.55,325.55,325.55,325.55,3000,915000
698090,ZEEL-III.NFO,03/01/2022,09:32:59,326.50,327.00,326.50,327.00,6000,9000
698091,ZEEL-III.NFO,03/01/2022,11:56:59,327.00,328.15,327.00,328.15,3000,12000
698092,ZEEL-III.NFO,03/01/2022,12:44:59,328.15,328.15,326.35,326.35,3000,15000

In [4]:
df = df[df['Ticker'] == 'BANKNIFTY-I.NFO']

In [5]:
df.dtypes

Ticker            object
Date              object
Time              object
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
Open Interest      int64
dtype: object

In [6]:
df['date_time'] = df['Date'] + " " + df['Time']

C:\Users\Ankit\AppData\Local\Temp\ipykernel_9272\3048845850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_time'] = df['Date'] + " " + df['Time']

In [7]:
df['date_time'] = pd.to_datetime(df['date_time'])

C:\Users\Ankit\AppData\Local\Temp\ipykernel_9272\3163265590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_time'] = pd.to_datetime(df['date_time'])

In [8]:
df.dtypes

Ticker                   object
Date                     object
Time                     object
Open                    float64
High                    float64
Low                     float64
Close                   float64
Volume                    int64
Open Interest             int64
date_time        datetime64[ns]
dtype: object

In [9]:
df['date_time'] = df['date_time'].dt.strftime('%d/%m/%Y %H:%M')

C:\Users\Ankit\AppData\Local\Temp\ipykernel_9272\2613936645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_time'] = df['date_time'].dt.strftime('%d/%m/%Y %H:%M')

In [10]:
df = df.drop(['Ticker'], axis=1)
df = df.drop(['Date'], axis=1)
df = df.drop(['Time'], axis=1)
df = df.drop(['Volume'], axis=1)
df = df.drop(['Open Interest'], axis=1)

In [11]:
df=df.reset_index(drop=True)
shift_column = df.pop('date_time')
df.insert(0, 'date_time', shift_column)
df.set_index('date_time')

                      Open      High       Low     Close
date_time
01/03/2022 09:15  36621.00  36621.00  35708.05  35811.85
01/03/2022 09:16  35813.95  35825.75  35798.70  35798.70
01/03/2022 09:17  35796.55  35796.90  35757.40  35782.60
01/03/2022 09:18  35782.60  35834.25  35782.60  35834.25
01/03/2022 09:19  35830.50  35839.65  35823.40  35835.00
...                    ...       ...       ...       ...
01/03/2022 15:26  36618.10  36619.95  36608.95  36619.95
01/03/2022 15:27  36618.20  36625.00  36617.35  36625.00
01/03/2022 15:28  36622.00  36631.85  36618.10  36631.65
01/03/2022 15:29  36628.50  36642.00  36624.60  36642.00
01/03/2022 15:30  36640.00  36644.00  36640.00  36640.00

[376 rows x 4 columns]

In [12]:
df.to_csv('future_data.csv')